{% extends "base.html" %}

  {% block content %}

    <div class="card-wrapper">
      <div class="card" style="border: none !important; padding: none !important;">
          <a href="/"><h4 id="home-page"><span class="fa fa-home"></span><span class="title">Home</span></h4></a>
          <a href="#" onclick="goBack()">
            <h4 id="back-page"><span class="fa fa-backward"></span><span class="title">Back</span></h4>
          </a>
          </a>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card background-card">
        <h4 id="challenges"><span class="fa fa-flag-checkered"></span><span class="title">Challenges</span> </h4>
        <div class="card-nested" itemprop="description">
          <p>{% block challenges %}{% endblock %}</p>
        </div>
        <h4 id="solution"><span class="fa fa-exclamation-circle"></span><span class="title">Solution</span> </h4>
        <div class="card-nested" itemprop="description">
          <p>{% block solution %}{% endblock %}</p>
        </div>
      </div>
    </div>

{% endblock %}